queries:
  /queries/misc/now:
    sql: |
      select
        now() as current
  /queries/misc/admin:
    sql: |
      select 
        id as inv_object_id, 
        aggregate_role, ark, 
        erc_what as name
      from inv.inv_objects
      where aggregate_role != 'MRT-none'
  /queries/misc/admin-owner:
    sql: |
      select 
        o.id as inv_object_id, 
        o.aggregate_role, 
        o.ark, 
        o.erc_what as name
      from inv.inv_objects o
      left join inv.inv_owners own on own.inv_object_id = o.id
      where aggregate_role='MRT-owner'
  /queries/misc/owner:
    sql: |
      select ark, name from inv.inv_owners order by name
  /queries/misc/sla:
    sql: |
      select 
        ark, 
        name
      from inv.inv_collections
      where exists (
        select 1 from inv.inv_objects o
        where 
          o.id = inv.inv_collections.inv_object_id
          and o.aggregate_role = 'MRT-service-level-agreement'
      ) order by name
  /queries/misc/admin-sla:
    sql: |
      select 
        o.id as inv_object_id, 
        o.aggregate_role, 
        o.ark, 
        o.erc_what as name, 
        c.mnemonic,
        (
          select count(*) from inv.inv_collections_inv_objects icio
          where icio.inv_collection_id = c.id
        ) as owner_count
      from inv.inv_objects o
      left join inv.inv_collections c on c.inv_object_id = o.id
      where o.aggregate_role='MRT-service-level-agreement'
  /queries/misc/admin-collection:
    sql: |
      select 
        o.id as inv_object_id, 
        o.aggregate_role, 
        o.ark, 
        o.erc_what as name, 
        c.mnemonic, 
        c.harvest_privilege
      from inv.inv_objects o
      left join inv.inv_collections c on c.inv_object_id = o.id
      where o.aggregate_role='MRT-collection'
  /queries/misc/admin-types:
    sql: |
      select 
        aggregate_role, 
        count(*) 
      from inv.inv_objects 
      group by aggregate_role
  /queries/misc/objects:
    sql: |
      select 
        id inv_object_id, 
        aggregate_role, 
        ark, 
        erc_what
      from inv.inv_objects
      where aggregate_role = 'MRT-none'
      order by id
      limit 1000
  /queries/misc/purgable_arks:
    sql: |
      SELECT 
        o.ark,
        n.number as nodenum
      FROM 
        inv.inv_collections c
      INNER JOIN 
        inv.inv_collections_inv_objects co
      ON
        c.id=co.inv_collection_id
      INNER JOIN 
        inv.inv_objects o
      ON
        o.id=co.inv_object_id
      INNER JOIN
        inv.inv_nodes_inv_objects inio 
      ON
        inio.inv_object_id = o.id and inio.role = 'primary'
      INNER JOIN
        inv.inv_nodes n
      ON
        n.id = inio.inv_node_id
      WHERE 
        o.modified <  date_add(NOW(), INTERVAL -3 DAY)
      AND 
        c.mnemonic = ?
      LIMIT ?
    parameters:
    - name: mnemonic
      type: string
    - name: count
      type: integer
  /queries/misc/primary_node:
    sql: |
      SELECT 
        n.number as nodenum
      FROM 
        inv.inv_objects o
      INNER JOIN
        inv.inv_nodes_inv_objects inio 
      ON
        inio.inv_object_id = o.id and inio.role = 'primary'
      INNER JOIN
        inv.inv_nodes n
      ON
        n.id = inio.inv_node_id
      WHERE 
        o.ark = ?
    parameters:
    - name: ark
      type: string
