body {
  margin: 0 auto;
  width: 1200px;
}

div.table {
  max-width: 1200px;
  overflow-x: auto;
  padding: 0px 5px;
}

table caption {
  width: 1150px;
  max-width: 1150px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

div.tablewrap {
  overflow-x: auto;
}

th {
  text-align: left;
}

th, td {
  border: 1px solid black;
  padding: 6px;
  min-width: 90px;
  max-width: 200px;
  overflow-x: clip;
  vertical-align: top;
}

th:hover, td:hover {
  overflow-x: visible;
}

th select, td select {
  max-width: 180px;
}

th.mnemonic,
td.mnemonic,
th.mnemonics,
td.mnemonics,
th.data,
td.data {
  width: 150px;
}

th.s3key_annotated,
td.s3key_annotated {
  width: 450px;
  min-width: 400px;
  padding-left: 20px;
}

th.sha, 
td.sha {
  width: 250px;
}
th.tag, 
td.tag {
  width: 100px;
}
th.release,
td.release {
  width: 200px;
  text-align: center;
}
th.actions,
td.actions {
  width: 250px;
  text-align: center;
}
th.ark,
td.ark,
th.date, 
td.date,
th.jobdata, 
td.jobdata {
  width: 180px;
}

th.servername,
td.servername,
th.nodedesc,
td.nodedesc,
th.metadata,
td.metadata {
  width: 250px;
  padding-left: 20px;
}
tr.other th.tag, tr.other td.tag {
  color: red;
}
thead tr {
  background-color: gray;
}
tbody tr:nth-child(odd) {
  background-color: #ffc10729;
}
a.button {
  background-color: navy;
  color: white;
}

a.button_red,
input.button_red {
  border: thin solid red;
}
a.button_red::after {
  content: " ⚠️";
}

a.buttontbd {
  background-color: navy;  
  color: yellow;
}
a[disabled].button {
  background-color: navy;
  border: thin solid navy;
  color: gray;
}
a.button,
a.buttontbd {
  padding: 5px 10px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px; 
}
div.breadcrumb {
  border-bottom: 2px solid navy;
  margin-bottom: 10px;
  padding-bottom: 3px;
}
div#controls {
  padding: 4px;
  margin: 8px;
  border: 1px solid #879C5D;
}
span.val {
  display: block;
}
span.inline {
  display: inline;
}

td.artifacts,
td.images {
  width: 240px;
  padding-left: 20px;
}
td.local_ids span.val,
td.mnemonics span.val {
  display: block;
  white-space: nowrap;
  overflow-x: clip;
}

th.servername span.val,
td.servername span.val,
th.note span.val,
td.note span.val,
th.s3key_annotated span.val,
td.s3key_annotated span.val,
th.nodedesc span.val,
td.nodedesc span.val,
td.metadata span.val,
td.artifacts span.val,
td.images span.val {
  display: list-item;
}

td.object_count, th.object_count,
td.total_files, th.total_files,
td.num_colls, th.num_colls,
td.num_objs, th.num_objs,
td.files, th.files,
td.int, th.int,
td.float, th.float,
td.size_gb, th.size_gb,
td.size, th.size {
  text-align: right;
  max-width: 200px;
  width: 200px;
}

td.num_colls, 
td.num_objs,
td.files,
td.int,
td.float,
td.size_gb,
td.size {
  white-space: nowrap;
}

tfoot tr {
  background-color: navy;
  color: white;
}
tfoot td {
  font-weight: bold;
}

div.aux-table {
  padding-top: 40px;
}

form.search {
  margin: 0px;
  padding: 0px;
}

table div.description {
  text-align: left;
  padding: 2px;
  border: thin solid gray;
  margin: 5px;
}

th.blank, td.blank {
  display: none;
}

th.select {
  width: 90%;
}

div.PASS, span.PASS {
  color: green;
}

div.WARN, span.WARN {
  color: orange;
}

div.FAIL, span.FAIL{
  color: red;
}

div.ERROR, span.ERROR{
  color: purple;
}

div.INFO, span.INFO {
  color: blue;
}

span.SKIP {
  color: gray;
}

div.SKIP {
  display: none;
}

form.admintool label {
  width: 220px;
  display: inline-block;
  font-weight: bold;
}

input[type='submit'], input[type='button'] {
  padding: 5px 10px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px; 
}

form {
  display: inline-block;
}