table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}

th {
  text-align: left;
}

th, td {
  border: 1px solid black;
  padding: 6px;
  word-break: break-all;
  min-width: 80px;
  max-width: 250px;
}

th.mnemonic,
td.mnemonic,
th.mnemonics,
td.mnemonics,
th.data,
td.data {
  width: 150px;
}

th.sha, 
td.sha {
  width: 250px;
}
th.tag, 
td.tag {
  width: 100px;
}
th.release,
td.release {
  width: 200px;
  text-align: center;
}
th.actions,
td.actions {
  width: 250px;
  text-align: center;
}
th.ark,
td.ark,
th.date, 
td.date {
  width: 180px;
}
tr.other th.tag, tr.other td.tag {
  color: red;
}
thead tr {
  background-color: gray;
}
tbody tr:nth-child(odd) {
  background-color: #ffc10729;
}
a.button {
  background-color: navy;
  color: white;
}
a.buttontbd {
  background-color: navy;  
  color: yellow;
}
a.button-disabled {
  background-color: navy;
  border: thin solid navy;
  color: gray;
}
a.button,
a.buttontbd,
a.button-disabled {
  padding: 5px 10px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px; 
}
div.breadcrumb {
  border-bottom: 2px solid navy;
  margin-bottom: 10px;
  padding-bottom: 3px;
}
div#controls {
  padding: 4px;
  margin: 8px;
  border: 1px solid #879C5D;
}
span.val {
  display: block;
}
span.inline {
  display: inline;
}

td.artifacts,
td.images {
  width: 240px;
  padding-left: 20px;
}
td.local_ids span.val,
td.mnemonics span.val {
  display: block;
  white-space: nowrap;
  overflow-x: clip;
}
td.artifacts span.val,
td.images span.val {
  display: list-item;
}

td.num_colls, th.num_colls,
td.num_objs, th.num_objs,
td.files, th.files,
td.size, th.size {
  text-align: right;
}
tfoot tr {
  background-color: navy;
  color: white;
}

div.aux-table {
  padding-top: 40px;
}

form.search {
  margin: 0px;
  padding: 0px;
}

table div.description {
  text-align: left;
  padding: 2px;
  border: thin solid gray;
  margin: 5px;
}