table {
  border-collapse: collapse;
  margin: 0 auto;
}
th, td {
  border: 1px solid black !important;
  padding: 6px;
}
th.message, 
td.message {
  width: 200px;
}
th.release,
td.release {
  width: 200px;
  text-align: center;
}
th.date, td.date {
  width: 180px;
}
tr.other th.tag, tr.other td.tag {
  color: red;
}
thead tr {
  background-color: #E19D5F;
}
tbody tr:nth-child(odd) {
  background-color: #ffc10729;
}
a.button {
  background-color: #879C5D;
  border: thin solid #879C5D;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a.button-disabled {
  background-color: #b9c89a;
  border: thin solid #879C5D;
  color: gray;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
div.breadcrumb {
  border-bottom: 2px solid #879C5D;
  margin-bottom: 10px;
  padding-bottom: 3px;
}
div#controls {
  padding: 4px;
  margin: 8px;
  border: 1px solid #879C5D;
}
