/* General styles */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    background-color: #E19D5F;
    color: white;
    border: thin solid #E19D5F;
}

nav li.search {
    background-color: #E19D5F;
    color: white;
    padding: 0px 10px;
}

nav span.search select, nav span.search input {
    text-decoration: none;
    margin: 5px 0px;
    padding: 5px 0px;
    background-color: #E19D5F;
    color: white;
    border: thin solid white;
}

nav a:hover {
    background-color: #879C5D;
}

/* First level menu */
nav .menu {
    display: flex;
}

/* Submenus */
nav ul.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #E19D5F;
}

nav li:hover>ul.submenu {
    display: block;
}

/* Submenu levels */
nav ul.submenu li ul.submenu {
    top: 0;
    left: 100%;
}

nav ul {
    min-width: 200px;
}

a.tbd {
    font-style: italic;
}