body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
}

.menu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover,
.menu > li > a:focus {
    background-color: #575757;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
}

.submenu > li > a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

.submenu > li > a:hover,
.submenu > li > a:focus {
    background-color: #575757;
}

.submenu .submenu {
    top: 0;
    left: 100%;
}
nav ul {
    min-width: 200px;
}

a.tbd {
    font-style: italic;
}