<form class="admintool" method="GET" action="/opensearch/logs/ark">
  <div>
    <label for="ark">ARK</label>
    <input type="text" id="ark" name="ark" size="30"/>
  </div>
  <input type="submit" value="Search Logs for ARK">
</form>