<div>
<fieldset>
  <legend>Collection Processing Status</legend>
  <div>
  <label for="processing_status">Processing Status</label>
  <output id="processing_status" name="processing_status"/>
  </div>
  <input type="button" disabled value="Lock Collection"/>
  <input type="button" disabled value="Unlock Collection"/>
</fieldset>
</div>
<div>
<fieldset>
  <legend>Add Storage Node</legend>
  <form method="POST" action="/ops/collections/storage-node-add">
  <select id="addnode" name="addnode">
    <option value=""></option>
    <% nodes.each do |key, value| %>
      <option value="<%= key %>"><%= value %></option>
    <% end %>
  </select>
  <input type="submit" value="Add Node"/">
  </form>
</fieldset>
</div>
<div class='tablewrap'>
  <%= table.render %>
</div>