<form class="admintool">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name"/>
  </div>
  <div>
    <label for="sla">SLA</label>
    <select id="sla" name="sla">
      <% slas.each do |key, value| %>
        <option value="<%= key %>"><%= value %></option>
      <% end %>
    </select>
  </div>
  <input type="submit" value="Create Owner" DISABLED>
</form>

<h3>After sumbmission...</h3>
<div class="after-submit">
  <ul>
    <li>Ark will be minted for the new Owner</li>
    <li>Invnetory API admin/owner will be invoked</li>
    <li>Owner will be added to inv_objects table with the default owner</li>
    <li>Owner will be added to inv_owners table with name set</li>
    <li>Owner will be added to inv_collections_inv_objects table with a parent set to the SLA</li>
    <li>Redirect to <a href="/ops/collections/management/owners">Owners</a></li>
  </ul>
</div>

<h3>Discuss</h3>
<div>Do we still need Owners to be linked to SLA?</div>