<form class="admintool" method="post" action="/ops/collections/management/create-collection">
  <fieldset>
    <legend>Profile Name</legend>
    <div>
      <label for="name">Profile Name</label>
      <input type="text" id="name" name="name" size="40"/>
    </div>
  </fieldset>
  <fieldset>
    <legend>Collection Attributes</legend>
    <div>
      <label for="owner">Owner</label>
      <select id="owner" name="owner">
        <% owners.each do |key, value| %>
          <option value="<%= key %>"><%= value %></option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="public">Public</label>
      <input type="checkbox" id="public" name="public">
    </div>
    <div>
      <label for="description">Profile Description</label>
      <input type="text" id="description" name="description" size="80"/>
    </div>
    <div>
      <label for="mnemonic">Mnemonic</label>
      <input type="text" id="mnemonic" name="mnemonic" value="" size="30"/>
    </div>
  </fieldset>
  <fieldset>
    <legend>Ingest Profile Attributes</legend>
    <div>
      <label for="notifyselect">Copy Notifications from</label>
      <select id="notifyselect" name="notifyselect">
        <option value=""></option>
        <% notifications.each do |key, value| %>
          <option value="<%= value %>"><%= key %></option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="notifications">Notification Emails</label>
      <textarea id="notifications" name="notifications" rows="4" cols="80"></textarea>
    </div>
  </fieldset>
  <input type="submit" value="Create Collection (MOCK)">
</form>

<h3>After sumbmission...</h3>
<div class="after-submit">
  <ul>
    <li>Ark will be minted for the new Collection</li>
    <li>Inventory API admin/collection/private will be invoked</li>
    <li>Collection will be added to inv_objects table with the designated owner</li>
    <li>Collection will be added to inv_collections table with name and mnemonic set</li>
    <li>A default LDAP entry should be created for the collection granting access to the Merritt team</li>
    <li>The ingest profile will be presented in a text window and will be available for upload to GitHub</li>
  </ul>
</div>

<h3>Discuss</h3>
<div>Do we need to pass an Owner to inventory when creating a collection, or would it be sufficent to specify the owner only in the ingest profile?</div>
<div>Eliminate Collection admin profiles?</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#notifyselect').change(function() {
      var selected = $(this).val();
      if (selected) {
        $('#notifications').val(selected);
      }
    });
  });
</script>