<h2>Profile to upload to GitHub</h2>
<div>
<textarea rows="40" cols="80"><%= profile %></textarea>
</div>

<h2>After upload</h2>
<div>
  <a href="/ops/collections/management/collections">View Collections</a>
</div>