<div class="uploadinstruct">
  Upload Profile <strong><%= profile_name %></strong> to upload to GitHub
</div>
<div>
<textarea rows="27" cols="100"><%= profile %></textarea>
</div>

<h2>After upload</h2>
<div>
  <ul>
    <li><a href="/ldap/collections-missing">View Collections without LDAP Entries</a></li>
    <li><a href="/ops/collections/management/profiles">View Profiles</a></li>
  </ul>  
</div>