<form class="admintool" method="post" action="/ops/collections/management/create-owner">
  <div>
    <label for="name">Owner Description</label>
    <input type="text" id="name" name="name" size="80"/>
  </div>
  <div>
    <label for="sla">SLA</label>
    <select id="sla" name="sla">
      <% slas.each do |key, value| %>
        <option value="<%= key %>"><%= value %></option>
      <% end %>
    </select>
  </div>
  <input type="submit" value="Create Owner">
</form>
