<form class="admintool">
  <fieldset>
    <legend>Collection Attributes</legend>
    <div>
      <label for="owner">Owner</label>
      <select id="owner" name="owner">
        <% owners.each do |key, value| %>
          <option value="<%= key %>"><%= value %></option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="public">Public</label>
      <input type="checkbox" id="public" name="public">
    </div>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name"/>
    </div>
    <div>
      <label for="mnemonic">Mnemonic</label>
      <input type="text" id="mnemonic" name="mnemonic" value=""/>
    </div>
  </fieldset>
  <fieldset>
    <legend>Ingest Profile Attributes</legend>
    <div>
      <label for="collection">Copy Notifications from</label>
      <select id="collection" name="collection">
        <% collections.each do |key, value| %>
          <option value="<%= key %>"><%= value %></option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="notifications">Notification Emails</label>
      <textarea id="notifications" name="notifications"></textarea>
    </div>
  </fieldset>
  <input type="submit" value="Create Collection" DISABLED>
</form>

<div class="after-submit">
  <ul>
    <li>Ark will be minted for the new Collection</li>
    <li>Invnetory API admin/collection/private will be invoked</li>
    <li>Collection will be added to inv_objects table with the designated owner</li>
    <li>Collection will be added to inv_collections table with name and mnemonic set</li>
    <li>A default LDAP entry should be created for the collection granting access to the Merritt team</li>
    <li>The ingest profile will be presented in a text window and will be available for upload to GitHub</li>
  </ul>
</div>