<form class="admintool" method="post" action="/ops/collections/management/create-sla">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" size="80"/>
  </div>
  <div>
    <label for="mnemonic">Mnemonic</label>
    <input type="text" id="mnemonic" name="mnemonic" value="_sla" size="30"/>
  </div>
  <input type="submit" value="Create SLA (MOCK)">
</form>

<h3>After sumbmission...</h3>
<div class="after-submit">
  <ul>
    <li>Ark will be minted for the new SLA</li>
    <li>Invnetory API admin/sla will be invoked</li>
    <li>SLA will be added to inv_objects table with the default owner</li>
    <li>SLA will be added to inv_collections table with name and mnemonic set</li>
    <li>Redirect to <a href="/ops/collections/management/slas">SLAs</a></li>
  </ul>
</div>

<h3>Discuss</h3>
<div>Do we still need SLAs?</div>