<html>
  <head>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <div>
      <h1>Git: <%= git.repo %></h1>
      <div><a href="/">Home</a></div>
      <hr/>
      <div>
        <table>
          <thead>
            <tr>
              <th>tag</th>
              <th>semantic</th>
            </tr>
          </thead>
          <tbody>
            <% git.tags.values.each do |tag|%>
            <tr>
              <td><%=tag[:name]%></td>
              <td><%=tag[:semantic]%></td>
              <td><%=tag[:data]%></td>
            </tr>
            <% end %>
          </tbody>  
      </div>
    </div>
  </body>
</html>