<html>
  <head>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <div>
      <h1>Git: <%= git.repo %></h1>
      <div><a href="/">Home</a></div>
      <hr/>
      <div>
        <h2><%= git.tags %></h2>
      </div>
    </div>
  </body>
</html>