<div>
  <h2>Applications</h2>
  <ul>
    <li><a href="/source">Source Code</a></li>
    <li><a href="/instances">Instances</a></li>
  </ul>
  <h2>Runtime</h2>
  <ul>
    <li><a href="/context">Context</a></li>
    <li><a href="/clients">Clients</a></li>
  </ul>
</div>
