<div>
  <h2>Code Repos</h2>
  <ul>
    <li><a href="https://github.com/CDLUC3/mrt-admin-sinatra">mrt-admin-sinatra</a></li>
    <li><a href="https://github.com/CDLUC3/mrt-sceptre/tree/main/mrt-admin-sinatra">Sceptre Resources</a></li>
  </ul>
</div>
