<div>
<div>Before releasing a job, <a href="/ops/collections/list">ensure that its collection is unlocked</a>.</div>
<br>
<fieldset>
  <legend>Page Actions</legend>
  <button id="release-all" type="button">Release All Held Jobs</button>
  <button id="requeue-all" type="button">Requeue All Failed Jobs</button>
  <button id="delete-all" type="button">Delete All Failed Jobs</button>
</fieldset>
</div>
<div class='tablewrap'>
  <%= table.render %>
</div>
<script type="text/javascript">
  function release_job() {
    $("a.release_button").each(function(){
      if (!$(this).attr("disabled")) {
        $(this).click();
        setTimeout(function(){
          release_job();
        }, 800);     
        return false;
      }
    });
  }

  function delete_job() {
    $("a.delete_button").each(function(){
      if (!$(this).attr("disabled")) {
        $(this).click();
        setTimeout(function(){
          delete_job();
        }, 800);     
        return false;
      }
    });
  }

  function requeue_job() {
    $("a.requeue_button").each(function(){
      if (!$(this).attr("disabled")) {
        $(this).click();
        setTimeout(function(){
          requeue_job();
        }, 800);     
        return false;
      }
    });
  }

  $(document).ready(function() {
    $("#release-all").on("click", function(){
      $("#release-all").attr("disabled", true);
      release_job();
    });
    
    $("#delete-all").on("click", function(){
      $("#delete-all").attr("disabled", true);
      delete_job();
    });
 
    $("#requeue-all").on("click", function(){
      $("#requeue-all").attr("disabled", true);
      requeue_job();
    });

    var count = 0;
    $("a.release_button").each(function(){
      if (!$(this).attr("disabled")) {
        count++;
      }
    });
    
    if (count == 0) {
      $("#release-all").attr("disabled", true);
    }

    count = 0;
    $("a.requeue_button").each(function(){
      if (!$(this).attr("disabled")) {
        count++;
      }
    });
    
    if (count == 0) {
      $("#requeue-all").attr("disabled", true);
    }

    count = 0;
    $("a.delete_button").each(function(){
      if (!$(this).attr("disabled")) {
        count++;
      }
    });
    
    if (count == 0) {
      $("#delete-all").attr("disabled", true);
    }
  });
</script>