<html>
  <head>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/merritt.css" />
    <title><%= context.title %></title>
  </head>
  <body>
    <h1><%= context.title %></h1>
    <div class="breadcrumb">
      <% unless context.top_page %>
      <a href="/">Home</a>
      <% end %>
      <span>/ <%= context.title %></span>
    </div>
    <div class="main">
    <%= yield %>
    </div>
  </body>
</html>