<div>
<fieldset>
  <legend>Maintain Access Queue</legend>
  <form method="POST" action="/ops/zk/access/pause-small">
    <input type="submit" value="Pause Small Access"/>
  </form>
  <form method="POST" action="/ops/zk/access/unpause-small">
    <input type="submit" value="Unpause Small Access"/>
  </form>
  <form method="POST" action="/ops/zk/access/pause-large">
    <input type="submit" value="Pause Large Access"/>
  </form>
  <form method="POST" action="/ops/zk/access/unpause-large">
    <input type="submit" value="Unpause Large Access"/>
  </form>
  <form method="POST" action="/ops/zk/access/cleanup-queue">
    <input type="submit" value="Cleanup Access Queue"/>
  </form>
</fieldset>
</div>