<div>
<fieldset>
  <legend>Maintain Ingest Queue</legend>
  <form method="POST" action="/ops/zk/ingest/pause">
    <input type="submit" value="Pause Ingest"/>
  </form>
  <form method="POST" action="/ops/zk/ingest/unpause">
    <input type="submit" value="Unpause Ingest"/>
  </form>
  <form method="POST" action="/ops/zk/ingest/cleanup-queue">
    <input type="submit" value="Cleanup Queue"/>
  </form>
</fieldset>
</div>
