<div>
<fieldset>
  <legend>Maintain Zookeeper</legend>
  <form method="POST" action="/ops/zk/snapshot">
    <input type="submit" value="Snapshot ZK and Save to S3"/>
  </form>
  <form method="POST" action="/ops/zk/restore">
    <input type="submit" value="Restore ZK from S3" class="button_red"
    onclick="return confirm('This will erase the current ZooKeeper state and restore from the snapshot. Are you sure you want to proceed?')"/>
  </form>
</fieldset>
</div>
