thead tr {
  background-color: #E19D5F;
}
a.button {
  background-color: #879C5D;
  color: white;
}
a.buttontbd {
  background-color: #879C5D;  
  color: yellow;
}
a[disabled].button {
  background-color: #b9c89a;
  border: thin solid #879C5D;
  color: gray;
}
div.breadcrumb {
  border-bottom: 2px solid #879C5D;
}
div#controls {
  border: 1px solid #879C5D;
}
tfoot tr {
  background-color: #879C5D;
  color: white;
}

nav {
  background-color: #E19D5F;
}
nav a {
  background-color: #E19D5F;
  color: white;
  border: thin solid #E19D5F;
}

nav li.search {
  background-color: #E19D5F;
  color: white;
}

nav span.search select, nav span.search input {
  background-color: #E19D5F;
  color: white;
  border: thin solid white;
}

nav .menu > li > a:hover,
nav .submenu > li > a:hover,
nav .menu > li > a:focus,
nav .submenu > li > a:focus {
    background-color: #879C5D;
}

nav ul.submenu {
  background-color: #E19D5F;
}

td.image_digest,
td.profile {
  word-wrap: anywhere !important;
}

td.nodedata {
  min-width: 300px;
  white-space: pre;
}

span.env {
  font-weight: bold;
}

span.env-ecs-prd {
  color: red;
}

span.env-ecs-stg {
  color: green;
}

span.env-ecs-dev {
  color: blue;
}