thead tr {
  background-color: #E19D5F;
}
a.button {
  background-color: #879C5D;
  color: white;
}
a.buttontbd {
  background-color: #879C5D;  
  color: yellow;
}
a[disabled].button {
  background-color: #b9c89a;
  border: thin solid #879C5D;
  color: gray;
}
div.breadcrumb {
  border-bottom: 2px solid #879C5D;
}
div#controls {
  border: 1px solid #879C5D;
}
tfoot tr {
  background-color: #879C5D;
  color: white;
}

nav {
  background-color: #E19D5F;
}
nav a {
  background-color: #E19D5F;
  color: white;
  border: thin solid #E19D5F;
}

nav li.search {
  background-color: #E19D5F;
  color: white;
}

nav span.search select, nav span.search input {
  background-color: #E19D5F;
  color: white;
  border: thin solid white;
}

nav .menu > li > a:hover,
nav .submenu > li > a:hover,
nav .menu > li > a:focus,
nav .submenu > li > a:focus {
    background-color: #879C5D;
}

nav ul.submenu {
  background-color: #E19D5F;
}

td.image_digest,
td.profile {
  word-wrap: anywhere !important;
}

td.nodedata {
  min-width: 300px;
  white-space: pre;
}

span.env {
  font-weight: bold;
}

div.app-state-ecs-prd span.env {
  color: red;
}

div.app-state-ecs-stg span.env {
  color: green;
}

div.app-state-ecs-dev span.env {
  color: blue;
}

div.app-state span.inactive {
  display: none;
}

div.app-state.no-db span.inactive,
div.app-state.no-zk span.inactive,
div.app-state.no-ldap span.inactive {
  display: inline;
  color: red;
}

div.app-state.no-db li.needs-db a, 
div.app-state.no-zk li.needs-zk a, 
div.app-state.no-ldap li.needs-ldap a {
  color: lightgray;
  font-style: italic;
}

div.revroles span.role {
  border: thin solid gray;
  display: inline-block;
  padding: 3px;
  margin: 3px;
  border-radius: 12px;
  background-color: lightgray;
}

div.revroles span.role.err {
  border: thin solid red;
}

span.role.err::before {
  content: "X ";
  color: red;
  font-weight: bold;
}

div.revroles span.role.add {
  border: thin solid blue;
  background-color: white;
}

span.role.add::before {
  content: "+ ";
  color: blue;
  font-weight: bold;
}

div.revroles span.role.del {
  border: thin solid blue;
  background-color: white;
}

span.role.del::before {
  content: "- ";
  color: blue;
  font-weight: bold;
}

span.role::after {
  content: "\00A0\00A0";
}

span.role::before {
  content: "\00A0\00A0";
}