thead tr {
  background-color: #E19D5F;
}
a.button {
  background-color: #879C5D;
  color: white;
}
a.buttontbd {
  background-color: #879C5D;  
  color: yellow;
}
a.button-disabled {
  background-color: #b9c89a;
  border: thin solid #879C5D;
  color: gray;
}
div.breadcrumb {
  border-bottom: 2px solid #879C5D;
}
div#controls {
  border: 1px solid #879C5D;
}
tfoot tr {
  background-color: #879C5D;
  color: white;
}
